# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/


build/
develop-eggs/
dist/
*.egg-info/
.eggs/


.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.pytest_cache/


.mypy_cache/
.pyre/


.idea/
.vscode/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db


docker-compose.override.yml


.env
